#container {
	margin: 0px auto;
	width: 960px;
	text-align: center;
}

#footer {
	text-align: center;
}

#rec_result {
	font-weight: bold;
	color: #129631;
}

#snd_result {
	font-weight: bold;
	color: #0E15CF;
}

#rec_graph {
	width: auto;
	height: auto;
	font-size: 6pt;
}

#snd_graph {
	width: auto;
	height: auto;
	font-size: 6pt;
}