a {
	color: #00B7FF;
}

div.sch-event {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D7E5F5), color-stop(100%, #CBE0F5));
	background-image: -webkit-linear-gradient(top, #D7E5F5, #CBE0F5);
	background-image: linear-gradient(top, #D7E5F5, #CBE0F5);
	border-top: 1px solid #ABBBCC;
	border-left: 1px solid #A7B6C7;
	border-bottom: 1px solid #A1AFBF;
	border-right: 1px solid #A7B6C7;
	-webkit-box-shadow: inset 0 1px 0 0 white;
	box-shadow: inset 0 1px 0 0 white;
	color: #1A3E66;
	text-shadow: 0 1px 1px white;
	white-space: nowrap;
	overflow: visible;
	border-radius: 4px;
}

div.sch-event-done {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7FBF4D), color-stop(100%, #63A62F));
	background-image: -webkit-linear-gradient(top, #7FBF4D, #63A62F);
	background-image: -moz-linear-gradient(top, #7FBF4D, #63A62F);
	background-image: linear-gradient(top, #7FBF4D, #63A62F);
	border: 1px solid #63A62F;
	border-bottom: 1px solid #5B992B;
	-webkit-box-shadow: inset 0 1px 0 0 #96CA6D;
	box-shadow: inset 0 1px 0 0 #96CA6D;
	color: #f4f4f4;
	text-shadow: 0 1px 1px darkgreen;
}

div.sch-event-blocked {
	opacity: 0.6;
	z-index: 5;
	border: 2px solid #777;
}

.sch-event-blocked .sch-resizable-handle {
	display: none !important;
}

.sch-event-inner {
	line-height: 45px;
	background: url(../images/check_gray.png) no-repeat 2px center;
	background-size: 25px;
	height: auto;
	font-size: 1.1em;
	padding-left: 30px;
}

.sch-event-done .sch-event-inner {
	background: url(../images/check.png) no-repeat 2px center;
	background-size: 25px;
}

.sch-timelinepanel-compact .sch-event-inner {
	line-height: 15px;
	background: url(../images/check_24x19.png) no-repeat 25% 0;
	height: 13px;
}

.sch-event-blocked .sch-event-inner {
	overflow: visible;
}

.sch-timelinepanel-compact .blocked-by {
	display: none;
}

.sch-schedulerview td.ubergrid-cell {
	overflow: visible;
}

.sch-timetd,.sch-timetd .x-grid-cell-inner {
	overflow: visible; /* For the hand cursor icon */
}

.x-hidden {
	display: none;
}

.blocked-by {
	position: absolute;
	color: darkRed;
	font-size: 80%;
	left: 20%;
	top: 30%;
	height: 69px;
	background: url(../images/hand.svg) no-repeat 0;
	width: 100px;
	padding-left: 48px;
	padding-top: 30px;
}

.icon-delete {
	background: transparent url(../images/delete.png) no-repeat center center !important;
}