<!doctype html>
<html>
<head>
    <title>Number cruncher</title>
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//d1fxtkz8shb9d2.cloudfront.net/sockjs-0.3.min.js"></script>
    <script src="//demo.rasc.ch/resources/autobahn.min.js"></script>    
    <script src="assets/js/d3.core.js"></script>
    <script src="assets/js/d3.directives.js"></script>
    <script src="assets/js/numbers.app.js"></script>
    <script src="assets/js/numbers.directives.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="assets/css/main.css" rel="stylesheet"/>
</head>

<body>
<div ng-app="numbers.app" ng-controller="NumbersCtrl">
    <div>
        <button ng-click="executeExpression()" class="btn-primary">Connect</button>
        <button ng-click="stop()" ng-show="running" class="btn-danger">Disconnect</button>
    </div>
    <tabs>
        <pane title="Raw">
            <h3>Raw data</h3>
            <pre><code>{{numbers}}</code></pre>
        </pane>
        <pane title="Canvas">
            <h3>Visual representation</h3>
            <barchart2d data="{{numbers}}"/>
        </pane>
    </tabs>
</div>
</body>

</html>
